<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('ctrl',function($scope,$http){
			$scope.title='Angular something';
			$scope.form={};
			$scope.submit=function(){
				$http({
					url:'server/1_angular_post.php',
					method: 'POST',
					data: $scope.form
				}).then(
				function(response){
					$scope.output=response.data;
				},function(response){
					console.log(response.status);
				});
			}
		});

	</script>

</head>
<body>
  
  <div ng-controller="ctrl" id="output"><h1>{{title}}</h1>
  	<form>
  		<input type="text" name="first_name" ng-model="form.first_name" placeholder="First Name" /><br />
  		<input type="text" name="last_name" ng-model="form.last_name" placeholder="Last Name" /><br />
  		<button type="submit" ng-click="submit()">Submit</button>




  	</form>


  	{{output}}


  </div>


</body>
</html>