/* Stylesheet */
/* html styles */
html{
  background:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  font-family: sans-serif;
  background: #222;
  color:#fff;
}

/* body styles */
.body{
  background: #222;
  color:#fff;
}

/* body styles */
div{
  box-sizing: border-box;
}

/* body styles */
#list,#detail{
  float: left;
}

/* list styles */
#list{
  width: 40%;
}

/* detail styles */
#detail{
  width: 60%;
}

/* image styles */
img{
  float: left;
  margin-right: 15px;
}

/* links styles */
a{
  margin-right: 5px;
  /*
  background: #ff8;
  color: #173e43;
  border-bottom:  2px solid #3fb0ac;
  */
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  display: inline;
}

/* links hover styles */
a:hover{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
  
}

/* links styles */
body p.link{
  display: inline;
}

/* li styles */
li{
  list-style: none;
  width: 200px;
  margin-bottom: 7px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px;
  
}

li:hover{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}

/* current book detial in list styles */
li.current{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}

/* first part of paragraph styles */
.first{
  color: #3fb0ac;
}

/* current page style*/
#page{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}