<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Hello  World!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('ctrl1',function($scope){
			$scope.title='Controller 1!!';
			
		});
		myApp.controller('ctrl2',function($scope){
			$scope.title='Controller 2!!';
			
		});
	</script>

</head>
<body >


 
 <div id="one" ng-controller="ctrl1"><h1>{{title}}</h1></div>
 <div id="two" ng-controller="ctrl2"><h1>{{title}}</h1></div>
</body>
</html>