<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Hello  World!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('main',function($scope){
			$scope.title='Two Way Binding!!';

			var data={};
			$scope.data=data;
			$scope.submit=function(){
				console.log($scope.data);
			}
			
		});
		
	</script>

</head>
<body >


 
 <div id="main" ng-controller="main">
 	<h1>{{title}}</h1>
 	<h2>{{ data.first_name}}</h2>
 	<h2>{{ data.last_name}}</h2>
 	<form >
 		<input ng-model="data.first_name" type="text" name="first_name" placeholder="First Name" /><br />

 		<input ng-model="data.last_name" type="text" name="last_name" placeholder="Last Name" /><br />

 		<button ng-click="submit()" type="submit">Submit</button>
 	</form>


 </div>
</body>
</html>