<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Hello  World!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('main',function($scope){
			$scope.title='Directives!!';
			$scope.user={};
			$scope.user.name='Frank Herbert';
			$scope.user.img='frank_herbert.jpg';
			console.log($scope.user);
			
		});
		myApp.directive('myUser',function(){
				return{
					template: '<p>Name: {{user.name}}</p> <img src= "images/{{user.img}}" />'
				}
			});
			
		
	</script>

</head>
<body >


 
 <div id="main" ng-controller="main">
 	<h1>{{title}}</h1>
 	<div my-user></div>

 </div>
</body>
</html>