<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Hello  World!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('main',['$scope','$http',function($scope,$http){
			$http({
				method: 'GET',
				url: 'server/author_json.php'
			}).then(
				function(response){
					//success
					$scope.authors=response.data;
				},
				function(response){
					//fail
					console.log(response.status);
				}
			);
			
			
		}]);
		myApp.directive('myAuthor',function(){
				return{
					templateUrl: 'inc/auth2.inc.html'
				}
			});
			
		
	</script>

</head>
<body >


 
 <div id="main" ng-controller="main">
 	<h1>{{title}}</h1>
 	<div id="authors" ng-repeat="author in authors">
 		<div my-author></div>
 	</div>

 </div>
</body>
</html>