<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Hello  World!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('main',function($scope){
			$scope.title='Directives!!';
			$scope.authors=[
			{
			name: 'Frank Herbert',
			country: 'USA',
			image:'frank_herbert.jpg'
			},
			{
			name: 'Enid Blyton',
			country: 'UK',
			image:'enid_blyton.jpg'
			}
			
			];
			console.log($scope.authors);
			
		});
		myApp.directive('myAuthor',function(){
				return{
					templateUrl: 'inc/auth.inc.html'
				}
			});
			
		
	</script>

</head>
<body >


 
 <div id="main" ng-controller="main">
 	<h1>{{title}}</h1>
 	<div id="authors" ng-repeat="author in authors">
 		<div my-author></div>
 	</div>

 </div>
</body>
</html>