<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Hello  World!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('myController',function($scope){
			$scope.title='Hello, World!!';
			$scope.first_name='Navdeep';
			$scope.last_name='Dhindsa';
			$scope.email='ndhindsa94@gmail.com';
			$scope.phone='204-497-0094';
		});
	</script>

</head>
<body ng-controller="myController">

 <h1>{{title}}</h1>
 <h2>{{first_name}} {{last_name}}</h2>
 <h3>{{email}}</h3>
 <h3>{{phone}}</h3>
 
</body>
</html>